<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory System Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .hero {
            background-image: url('inventory.webp');
            height: 100vh;
            background-size: cover;
            background-position: center;
            position: relative;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.66);
        }

        .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            color: white;
            text-align: center;
            padding: 20px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        }

        .btn-custom {
            margin: 5px;
            padding: 15px 30px;
            font-size: 1.6rem;
            border-radius: 10px;
            transition: background-color 0.3s ease, box-shadow 0.3s ease;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .btn-primary {
            background-color: #ff4d8b;
            border: none;
        }

            .btn-primary:hover {
                background-color: #ff0066;
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
            }

        .btn-secondary {
            background-color: #00c7a6;
            border: none;
        }

            .btn-secondary:hover {
                background-color: #009d82;
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
            }

    </style>

</head>
<body>
    <div class="hero">
        <div class="overlay"></div>
        <div class="content">
        @RenderBody()
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
